.block_ {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_1 {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 2.41;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-indent: 2em;
    margin: 17pt 0 16.5pt;
    padding: 0
    }
.block_2 {
    display: block;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_3 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-indent: 2em;
    margin: 13pt 0;
    padding: 0
    }
.block_4 {
    display: block;
    font-weight: bold;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_5 {
    display: block;
    font-family: serif;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-indent: 2em;
    margin: 13pt 0;
    padding: 0
    }
.block_6 {
    display: block;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_7 {
    display: block;
    margin: 0;
    padding: 0
    }
.block_8 {
    display: block;
    text-align: right;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_9 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-indent: 2em;
    margin: 13pt 0;
    padding: 0
    }
.block_10 {
    display: block;
    text-indent: 2em;
    margin: 0 0.45pt 0 -0.1pt;
    padding: 0
    }
.block_11 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 0 0.45pt 0 -0.1pt;
    padding: 0
    }
.block_12 {
    display: block;
    font-family: serif;
    font-size: 1em;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_13 {
    color: #2F5496;
    display: block;
    font-family: "等线 Light", serif;
    font-size: 1.29167em;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 12pt 0 0;
    padding: 0
    }
.block_14 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 5pt;
    padding: 0
    }
.block_15 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 5pt 10.8pt;
    padding: 0
    }
.block_16 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 5pt 22pt;
    padding: 0
    }
.block_17 {
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0
    }
.block_18 {
    display: block;
    font-family: serif;
    font-size: 1em;
    text-align: right;
    text-indent: 2em;
    margin: 0 0.45pt 0 -0.1pt;
    padding: 0
    }
.block_19 {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 2.41;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 17pt 0 16.5pt;
    padding: 0
    }
.block_20 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 13pt 0;
    padding: 0
    }
.block_21 {
    display: block;
    font-family: serif;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 13pt 0;
    padding: 0
    }
.block_22 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 13pt 0;
    padding: 0
    }
.block_23 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.57;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 14pt 0 14.5pt;
    padding: 0
    }
.block_24 {
    display: block;
    font-family: serif;
    font-size: 1em;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_25 {
    display: block;
    font-family: serif;
    font-size: 1em;
    margin: 0;
    padding: 0
    }
.block_26 {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 13pt 0;
    padding: 0
    }
.block_27 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.57;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 14pt 0 14.5pt;
    padding: 0
    }
.block_28 {
    display: block;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_29 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 13pt 0;
    padding: 0
    }
.block_30 {
    display: block;
    font-weight: bold;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_31 {
    display: block;
    font-weight: bold;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_32 {
    display: block;
    margin: 0 0 0 21pt;
    padding: 0
    }
.block_33 {
    background-color: #FFF;
    color: #333;
    display: block;
    font-family: "Helvetica", sans-serif;
    font-size: 1em;
    line-height: 18pt;
    text-indent: 24pt;
    margin: 0;
    padding: 0
    }
.block_34 {
    font-size: 0.83333em
    }
.block_35 {
    background-color: #FFF;
    color: #333;
    display: block;
    font-family: "Helvetica", sans-serif;
    line-height: 18pt;
    text-indent: 24pt;
    margin: 0;
    padding: 0
    }
.block_36 {
    display: block;
    font-size: 1.83333em;
    font-weight: normal;
    line-height: 2.41;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-indent: 2em;
    margin: 17pt 0 16.5pt;
    padding: 0
    }
.block_37 {
    display: block;
    font-size: 0.83333em;
    margin: 0;
    padding: 0
    }
.block_38 {
    color: #000;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 0 0.5pt;
    padding: 0
    }
.block_39 {
    font-size: 0.83333em;
    line-height: 1.2
    }
.block_40 {
    display: block;
    font-size: 1em;
    margin: 0;
    padding: 0
    }
.block_41 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    margin: 0;
    padding: 0
    }
.calibre {
    display: block;
    font-family: "DengXian", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-size: 0.83333em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre4 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre5 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre6 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre7 {
    display: table-row;
    vertical-align: inherit
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre10 {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre11 {
    display: block;
    margin-left: 40px
    }
.footnote {
    display: block;
    margin: 1em 0
    }
.footnote1 {
    display: block;
    page-break-after: avoid;
    margin: 1em 0
    }
.noteref {
    text-decoration: none
    }
.tab {
    white-space: pre-wrap
    }
.table_ {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: 0;
    padding: 0;
    border: currentColor solid 1pt
    }
.table_1 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    float: right;
    text-indent: 0;
    width: 512pt;
    margin: 0 9pt;
    padding: 0;
    border: currentColor solid 1pt
    }
.table_2 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    float: left;
    text-indent: 0;
    margin: 0 9pt;
    padding: 0;
    border: currentColor solid 1pt
    }
.table_3 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: 0;
    width: 100%;
    padding: 0;
    border: currentColor solid 1pt
    }
.td_ {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt
    }
.td_1 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 91.2pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_2 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 128pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_3 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 63.8pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_4 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 78pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_5 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 106pt;
    padding: 0.5ex 5.4pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_6 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt
    }
.td_7 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 91.2pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_8 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 128pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_9 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 63.8pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_10 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 78pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_11 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 106pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_12 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_13 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5ex 5.4pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_14 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt
    }
.td_15 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_16 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_17 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 114pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_18 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 70.9pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_19 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 70.8pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_20 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 92.2pt;
    padding: 0.5ex 5.4pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_21 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt
    }
.td_22 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_23 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 114pt;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_24 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 70.9pt;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_25 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 70.8pt;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_26 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 92.2pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_27 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_28 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 114pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_29 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 70.9pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_30 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 70.8pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_31 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 92.2pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_32 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_33 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_34 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_35 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_36 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt
    }
.td_37 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt
    }
.td_38 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 91.3pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_39 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 124pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_40 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 91.3pt;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_41 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 124pt;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_42 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 91.3pt;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_43 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 124pt;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_44 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 91.3pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_45 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 124pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_46 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 17.1%;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt
    }
.td_47 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 19.4%;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_48 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 16%;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_49 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 15.1%;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_50 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 32.3%;
    padding: 0.5ex 5.4pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_51 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 17.1%;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt
    }
.td_52 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 19.4%;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_53 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 16%;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_54 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 15.1%;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_55 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 32.3%;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_56 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 17.1%;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt
    }
.td_57 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 15.1%;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_58 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 19.4%;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_59 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 16%;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_60 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    width: 32.3%;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_61 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 17.1%;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt
    }
.td_62 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 19.4%;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_63 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 16%;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_64 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 15.1%;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_65 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 32.3%;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_66 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 87.3pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt
    }
.td_67 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 89.8pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_68 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 85.2pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_69 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 85.3pt;
    padding: 0.5ex 5.4pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_70 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 85.3pt;
    padding: 0.5ex 5.4pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_71 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 87.3pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt
    }
.td_72 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 89.8pt;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_73 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 85.2pt;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_74 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 85.3pt;
    padding: 0.5ex 5.4pt;
    border: currentColor solid 1pt
    }
.td_75 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 85.3pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-bottom: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_76 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 87.3pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt
    }
.td_77 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 89.8pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_78 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 85.2pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_79 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 85.3pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-right: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.td_80 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 85.3pt;
    padding: 0.5ex 5.4pt;
    border-top: currentColor solid 1pt;
    border-left: currentColor solid 1pt
    }
.text_ {
    font-family: "Cambria", serif;
    font-weight: bold
    }
.text_1 {
    font-family: "DengXian", serif;
    font-weight: bold
    }
.text_2 {
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2
    }
.text_3 {
    color: #00F;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.text_4 {
    color: #23292D
    }
.text_5 {
    font-size: 1em
    }
.text_6 {
    font-size: 0.625em
    }
.text_7 {
    font-family: "DengXian", serif
    }
.text_8 {
    font-family: "微软雅黑", sans-serif
    }
